/* http://meyerweb.com/eric/tools/css/reset/ 2. v2.0 | 20110126
  License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*
  ========================================
  Clearfix
  ========================================
*/

.group {
  clear: both;
  *zoom: 1;
}


/*
===================================
    Site layout
===================================
*/

body {
    background-image: url("../thunderstorm.jpg");
    background-size: 100%;
    background-attachment: fixed;
    margin-top: 20px;
    font-size: 28px;
    color: rgba (188, 240, 225);
}

.site {
    margin-left: 20%;
    margin-right: 20%;
    display: flex;
    flex-flow: row;
}

.main {
    width: 100%;
    border: 5px double black;
    background: linear-gradient(to bottom, rgba(131, 137, 245, 0.4) , rgba(255, 255, 255, 0.7));
    padding-top: 60px;
}

/*
===================================
    Navigation menu
===================================
*/
nav-menu {
    border: 5px double black;
    background: linear-gradient(to left, rgba(131, 137, 245, 0.4) , rgba(255, 255, 255, 0.7));
    padding-top: 60px;
    margin-right: 10px;
}

.nav a {
    background-color: #eee; /* Grey background color */
    color: black; /* Black text color */
    display: flex; /* Make the links appear below each other */
    flex-flow: column;
    padding: 12px;
    margin: 4px;
    text-decoration: none; /* Remove underline from links */
}

.nav a:hover {
    background-color: #ccc; /* Dark grey background on mouse-over */
}
/*
===================================
    Buttons
===================================
*/
.button {
    border: 1px solid blue;
    border-radius: 5px;
}

.button:hover {
    background-color: #ccc;
    border: 1px solid black;
}

/*
===================================
    Header
===================================
*/

.header, header {
    font-size: 50px;
    color: black;
    text-align: center;
    border: none;
    margin: 50px;
    text-decoration: none;
}

/*
===================================
    Images
===================================
*/

img {
    opacity: 0.8;
    float: right;
    border-radius: 50%;
    margin-left: 5%;
    margin-right: 1%;
}

/*
===================================
    Articles
===================================
*/

h1 {
    text-decoration: underline;
}

article {
    clear:both;
    margin: 25px 0px;
    border: 1px dotted black;
    font-size: 18px;
}

/*
===================================
    Footer
===================================
*/

footer {
    border: 5px double black;
    background: linear-gradient(to left, LightGray , LightSlateGrey);
    margin-top: 100px;
    text-transform: uppercase;
}

/*
===================================
    Inputs
===================================
*/

fieldset {
    display: flex;
    flex-flow: column;
    height: auto;
    width: auto;
    border: 1px double black;
    padding: 5%;
}

input, textarea, button {
    display: inherit;
    background-color: azure;
    margin: 2.5%;
    padding: 2.5%;
    border-radius: 5px;
    font: 14px/1.4 "Helvetica Neue", Helvetica, Arial, sans-serif;
    height: auto;
}

textarea {
    width: 80%;
}

.submit-btn {
    padding: 5px;
    width: 10%;
    height: 10%;
}